@import "../../css/abstract/screen-queries.css";

.layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;

    padding: 2rem 5rem;

    background-color: var(--background);

    nav {
        grid-column: 1/-1;
        margin-bottom: -2rem;

        @media (--phone) {
            margin-bottom: 0;
        }
    }
    @media (--phone) {
        gap: 3rem;
        padding: 2rem 3rem;
    }
}
