@import "../../css/abstract/screen-queries.css";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1.25rem 5rem;

    background-color: var(--foreground);
    box-shadow: var(--shadow) 0 2px 8px 0;

    h1 {
        font-size: 22px;
    }

    button {
        cursor: pointer;

        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        font-weight: 800;

        background-color: transparent;
        border: none;

        &:hover,
        &:focus {
            color: var(--text-hover);
        }

        &:active {
            color: var(--text-active);
        }
    }

    @media (--phone) {
        padding: 1.25rem 1rem;

        h1 {
            font-size: 18px;
        }
    }
}
