@import "../../css/abstract/screen-queries.css";

.search {
    position: relative;

    ::-webkit-search-decoration,
    ::-webkit-search-cancel-button,
    ::-webkit-search-results-button,
    ::-webkit-search-results-decoration {
        display: none;
    }

    input {
        width: 100%;
        padding: 1rem 4rem;

        font-size: 14px;
        font-weight: 600;
        color: var(--text);

        background-color: var(--foreground);
        border: none;
        border-radius: 0.5em;
        box-shadow: var(--shadow) 0 2px 8px 0;

        &::placeholder {
            color: var(--text-light);
        }

        @media (--tablet-landscape) {
            width: 100%;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);

        color: var(--text-light);
    }
}
